<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Seleccionar Capacidades por BC</title>
</head>
<body>
    <h1>Seleccionar Capacidades de Contenedor</h1>

    <form action="/optimize" method="post">
        {% for bc in bcs %}
            <h3>{{ bc }}</h3>
            <label>Capacidades disponibles (separadas por coma):</label><br>
            <input type="text" name="{{ bc }}" value="{{ capacidad_default.get(bc, [20])|join(',') }}"><br><br>
        {% endfor %}
        <input type="submit" value="Optimizar Cubicaje">
    </form>

</body>
</html>
